:root {
    --light:#8BA987;
    --medium:#6C7767;
    --dark:#4A6266;
    --highlight:#F46B63;
    --lowlight:#BE6263;
}
::placeholder{
    color: black;
    opacity: .89;
}
* {
    font-family:  Helvetica, sans-serif;
    background-color: var(--dark);
    margin: 0px;
    font-weight: lighter;

}


/* ----This is all the header styling---- */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content:flex-start;
    background-color: var(--medium);
}
#timerContainer {
    display: flex;
    flex-direction: column;
    margin: 0px;
    align-items: center;
    background-color: inherit;

}
#timerDisplay {
    padding: 0px;
    margin: 0px;
    background-color: inherit;
}
#timerText {
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
    background-color: inherit;
}
#highScoreViewer {
    font-size: larger;
    background-color: var(--lowlight);
    border-radius: 5px;
    align-self: center;
}
button:hover, #highScoreViewer:hover {
    background-color: var(--highlight);

}


/* ----This is all the styling for the Welcome scren---- */
.welcome-screen {
    background-color: var(--dark);
    display: unset;
}
.splash-page {
    background-color: inherit;
    display:flex;
    align-items: center;
    flex-direction: column;
}
.welcome-title {
    margin: 15% 0% 0% 0%;
    background-color: inherit;
}
.welcome-text {
    margin: 5% 20% 5% 20%;
}
.name-entry {
    width: 80%;
    max-width: 600px;;
    background-color: var(--light);
    border-radius: 5px;
    min-height: 1.25em;
    font-size: 1.5em;
    text-align: center;
    
}

/* ----This is all the styling for the question screen---- */
.question-screen {
    display:flex;
    background-color: var(--dark);
    flex-direction: column;
    align-items: center;
    padding-left: 25%;
    padding-right: 25%;
    padding: 6%;
}
.question-box {
    min-width: 82%;
    min-height: 100px;
    max-width: 690px;
    background-color: inherit;
    /* border: 2px solid black; */
    margin-bottom: 5%;
    padding: 12px;
    font-size: large;
}
.question-box h2 {
    background-color: inherit;
}
.answer-box {
    min-width: 82%;
    min-height: 50px;
    /* border: 2px solid red; */
    border-radius: 15px;
    padding: 12px;
    margin: 0px 12px 12px 12px;
    background: var(--lowlight);


}


/* ----This is all the styling for the question screen---- */
.end-game-screen{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top:0;
    left:0;
    height:100vh;
    width:100vw;
}
#end-game-modal{
   width: 600px;
   max-width: 100%;
   border-radius: 5px;
   padding: 30px 50px;
   background-color: var(--light);

   
}
#save-score, #quit-game{
    font-size: larger;
    background-color: var(--lowlight);
    border-radius: 5px;
    align-self: center;
    
}