* {
    font-family:  Helvetica, sans-serif;
    background-color: lime;
    margin: 0px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content:flex-start;
    background-color: aliceblue;
    }
button{
    opacity: 1;
}
#timerContainer {
    display: flex;
    flex-direction: column;
    margin: 0px;
    align-items: center;
    background-color: inherit;

}
#timerDisplay {
    padding: 0px;
    margin: 0px;
    background-color: inherit;
}

#timerText {
    padding: 0px;
    margin: 0px;
    background-color: inherit;
}
#highScoreViewer {
    font-size: larger;
    font-weight: lighter;
    background-color: lightskyblue;
    border-radius: 25px;
    align-self: center;
}

#highScoreViewer:hover {
    font-weight: normal;
    background-color: skyblue;

}

.splashPage {
    background-color: lime;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.splashPage h1 {
    margin: 30% 0% 0% 0%;
}
.splashPage input {
    width: 80%;
}